<!DOCTYPE html>
<html>
<head>
  <meta chartset="utf-8" />
  <title>MOngoose Example</title>
</head>
<body>
  <header>
    <h1>Mongoose Example</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>
  </header>

<%- body -%>

<footer>
  Made by randseed1724 04/22/17
</footer>

</body>
</html>
